@import 'variables';

*
{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    font-family: $fonts;
}

body
{
    padding: 5%;
    position: relative;
    background: map-get($colors , texts );
    height: 100vh;

    footer
    {
        position: absolute;
        bottom: 10px;
        left: 30%;
        right: 30%;
    }
}

main
{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 700px ;
    // border-radius: 20px 56px 65px 20px;
    // padding: 90px;

    // width: 900px;
    // align-self: center;
    // align-items: center;
    justify-content: center;
    // vertical-align: middle;

    section
    {
        display: grid;
        grid-gap: 20px;
        padding: 2%;
        color: map-get($colors , texts );
        height: auto;
        background: #000;

        h2
        {
            font-size: 20px;
            font-weight: 700;
        }
        h3
        {
            font-size: 16px;
            font-weight: 700;
        }
        p
        {
            font-size: 16px;
            font-weight: 300;
        }
        a
        {
            width: 220px;
            // border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: map-get($colors , texts );
            background: map-get($colors , theButton );
            padding: 10px 30px;
            margin-top: 30px;
        }
    }

    .top
    {
        background: map-get($colors , forTop );
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
        border-radius: 8px 8px 0 0;

        h2
        {
            color: map-get($colors , main );

        }
        h3
        {
            color: map-get($colors , theButton);
        }
        p
        {
            color: map-get($colors, theBack );
        }
    }

    .bottom
    {
        grid-template-columns: repeat(2, 1fr);
        background: map-get($colors , main);
        border-radius: 0 0 8px 8px;
        align-items: center;
        justify-content: center;
        // padding: 30px;

        p
        {
            font-weight: 400;
        }
        
        .monthly
        {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;

            h2
            {
                font-size: 16px;
                font-weight: 300;
            }

            h3
            {
                font-weight: 400;
                span
                {
                    font-size: 25px;
                    font-weight: 700;
                }
            }
        }

        .why
        {
            // margin: 0;
            // padding: 50px;
            display: inline-flex;
            background: lighten($color: map-get($colors , main), $amount: 20%);
            // display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: center;
            gap: 40px;
        }
    }
}